<div class="panel panel-body hec-home">
  <div nz-row nzGutter="16">
    <div nz-col nzSm="24" nzLg="8" class="gutter-row mb-20" *ngFor="let data of statisticsDatas">
      <div class="data-box b {{data.themeColor.bdColor}}">
        <div class="w25 fl br text-center pt-20 {{data.themeColor.ftColor}} {{data.themeColor.bdColor}}">
          <i class="{{data.icon}} font36"></i>
        </div>
        <div class="w75 fl text-left pl-30 pt-5">
          <div class="font30 {{data.themeColor.ftColor}}">{{data.unit}}{{data.data | number}}</div>
          <div class="text-uppercase">{{data.description}}</div>
        </div>
      </div>
    </div>
  </div>

  <!--常用功能 start-->
  <div class="common-functions mt-20 mb-20" nz-row>
    <p class="font16 strong mb title">常用功能</p>
    <ng-container *ngFor="let cf of commonFunctions">
      <div nz-col [nzSpan]="6" class="bg-f8 pl-30 font16 cursor" [routerLink]="cf.url" *ngIf="cf.isShow">
        <i class="{{cf.icon}} font20 mr-20"></i>{{cf.info}}
      </div>
    </ng-container>
  </div>
  <!--常用功能 end-->

  <!--数据统计 start-->
  <div nz-row nzGutter="16" class="m0">
    <p class="font16 strong mb title">数据统计</p>
    <div nz-col nzSm="24" nzLg="12" class="gutter-row mb-20">
      <div echarts [options]="chartOptionOfUserRatio" class="chart-box b"></div>
    </div>
    <div nz-col nzSm="24" nzLg="12" class="gutter-row mb-20">
      <div echarts [options]="chartOptionOfUserRise" class="chart-box b"></div>
    </div>
  </div>
  <!--数据统计 end-->
</div>
