.hec-home .title {
  border-left: 4px solid #f70;
  padding-left: 10px;
}

/*统计数据*/
.data-box {
  height: 88px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.data-box>div{
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*信息统计*/
.hec-home .store-count .border-right {
  border-right: 1px dashed #ccc;
}

/*常用功能*/
.hec-home .common-functions .bg-f8:hover {
  background: #F2F2F2;
}

.hec-home .common-functions .bg-f8 {
  border: 1px solid white;
  height: 65px;
  line-height: 65px;
}

.chart-box {
  height: 420px;
  padding: 10px;
  border-radius: 5px;
}

/*订单流量统计*/
.hec-home .order-count .order-chart {
  height: 400px;
  background: #f8f8f8;
}

.hec-home .contact-us .font20 {
  font-size: 20px;
}
