<div class="page-title clearfix">
  <div class="title">{{"Supplier0000"| translate}}</div>
  <button nz-button class="fr btn-green" [routerLink]="routerLinks.supplier.add" title="{{'Btn0003'| translate}}"><i
    class="anticon anticon-plus"></i>
    {{'Btn0003'| translate}}
  </button>
</div>

<div class="panel panel-body">
  <!--搜索 start-->
  <form nz-form (submit)="query${className}List(1)">
    <div class="search-group">
      <span class="search-title">{{"Supplier0001"| translate}}：</span>
      <div class="search-main">
        <input nz-input name="name"
               [(ngModel)]="searchParams.name"
               placeholder="{{'Supplier0001'| translate}}">
      </div>
    </div>
    <div class="inline-block">
      <button nz-button class="ml-20 mr" [nzType]="'primary'" title="{{'Btn0001'| translate}}" type="submit">
        <i class="anticon anticon-search"></i><span>{{"Btn0001"| translate}}</span>
      </button>
      <button nz-button class="mr" title="{{'Btn0002'| translate}}" type="reset" (click)="resetSearch()">
        <i class="anticon anticon-sync"></i><span>{{"Btn0002"| translate}}</span>
      </button>
    </div>
  </form>
  <!--搜索 end-->
</div>
<div class="panel">
  <nz-table #nzTable
            [nzData]="${classNameLower}List.voList"
            [nzLoading]="_loading"
            [nzFrontPagination]="false"
            [nzShowTotal]="totalRow"
            [nzPageSize]="${classNameLower}List.pageSize"
            [nzTotal]="${classNameLower}List.totalRow"
            [nzPageIndex]="${classNameLower}List.curPage"
            (nzPageIndexChange)="query${className}List($event)">
    <thead nz-thead>
    <ng-template #totalRow>{{'Th0000' | translate : {totalRow: ${classNameLower}List.totalRow} }}</ng-template>
    <tr>
      <th nz-th class="text-center" nzWidth="5%"><span>{{'Th0001' | translate}}</span></th><!--序号-->
      <th nz-th class="text-center" nzWidth="10%"><span>{{'ThSupplier0000' | translate}}</span></th><!--名字+信用等级-->
      <th nz-th class="text-center" nzWidth="8%"><span>{{'ThSupplier0001' | translate}}</span></th><!--联系人-->
      <th nz-th class="text-center" nzWidth="8%"><span>{{'ThSupplier0002' | translate}}</span></th><!--手机号-->
      <th nz-th class="text-center" nzWidth="10%"><span>{{'ThSupplier0003' | translate}}</span></th><!--网址-->
      <th nz-th class="text-center" nzWidth="8%"><span>{{'ThSupplier0005' | translate}}</span></th><!--公司性质-->
      <th nz-th class="text-center" nzWidth="8%"><span>{{'ThSupplier0004' | translate}}</span></th><!--公司类型-->
      <th nz-th class="text-center" nzWidth="10%"><span>{{'Th0003' | translate}}</span></th><!--状态-->
      <th nz-th class="text-center" nzWidth="13%"><span>{{'ThSupplier0006' | translate}}</span></th><!--地址-->
      <th nz-th class="text-center" nzWidth="10%"><span>{{'Th0004' | translate}}</span></th><!--时间-->
      <th nz-th class="text-center" nzWidth="10%"><span>{{'Th0006' | translate}}</span></th><!--操作-->
    </tr>
    </thead>
    <tbody nz-tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data" let-i="index">
      <tr nz-tbody-tr>
        <td nz-td class="text-center">{{i+1}}</td>
        <td nz-td class="text-center">{{data.name}}
          <div>
            <nz-rate [ngModel]="data.creditRating" title="{{'Supplier0002'| translate}}" nzDisabled></nz-rate>
          </div>
        </td>
        <td nz-td class="text-center">{{data.contacts}}</td>
        <td nz-td class="text-center">{{data.mobile}}</td>
        <td nz-td class="text-center"><a target="_blank" [href]="data.website">{{data.website}}</a></td>
        <td nz-td class="text-center">{{data.companyNature | enumName: companyNature}}</td>
        <td nz-td class="text-center">{{data.supplierCategory.name}}</td>
        <td nz-td class="text-center">
          <nz-switch class="thc" [ngModel]="data.state === states.enable" [ngModelOptions]="{standalone: true}"
                     nzCheckedChildren="{{'Btn0007' | translate}}" nzUnCheckedChildren="{{'Btn0008' | translate}}"
                     (ngModelChange)="modifySupplierState(data.code, $event)">
          </nz-switch>
        </td>
        <td nz-td class="text-center">{{data.address}}</td>
        <td nz-td class="text-center">{{data.createTime}}</td>
        <td nz-td class="text-center">
          <button nz-button class="btn-blue-o mr" [routerLink]="[routerLinks.supplier.modify,data.code]"
                  title="{{'Btn0004'| translate}}">
            <i class="anticon anticon-edit"></i></button>
          <button nz-button class="btn-success-o" [routerLink]="[routerLinks.supplier.detail,data.code]"
                  title="{{'Btn0005'| translate}}">
            <i class="anticon anticon-eye-o"></i></button>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
</div>
