<app-back-btn></app-back-btn>
<div class="page-title">
  <span class="title">{{'Supplier0100'| translate}}</span>
</div>

<!--Extra0006:[未设置]-->
<!--供应商信息-->
<div class="panel panel-body">
  <!--供应商信息-->
  <section class="mb-20">
    <h3 class="subtitle">{{'Supplier0101'| translate}}</h3>
    <div nz-row class="p-15">
      <div nz-col nzSm="12" nzXXl="10" [nzXs]="24">
        <p>
          <strong class="pr">{{'Supplier0102'| translate}}：</strong>
          <strong class="font18 color-theme">{{supplierInfo?.name}}</strong>
        </p><!--名称-->
        <p>
          <strong class="pr">{{'Supplier0103'| translate}}：</strong>
          <span>{{supplierInfo?.englishName}}</span>
        </p>
        <!--英文名称-->
        <p>
          <strong class="pr">{{'Supplier0104'| translate}}：</strong><!--信用等级-->
          <nz-rate [ngModel]="supplierInfo?.creditRating" nzDisabled></nz-rate>
          <a *ngIf="!supplierInfo.creditRating" class="color-gray" [title]="'Extra0007'| translate"
             (click)="toModifyTheUnSetData()">{{'Extra0006'| translate}}</a><!--[未设置]-->
        </p>
        <p>
          <strong class="pr">{{'Supplier0105'| translate}}：</strong>{{supplierInfo?.supplierCategory?.name}}
        </p>
        <!--类型-->
        <p>
          <strong class="pr">{{'Supplier0106'| translate}}：</strong>{{supplierInfo?.companyNature}}
        </p><!--公司性质-->
        <p>
          <strong class="pr">{{'Supplier0107'| translate}}：</strong>{{supplierInfo?.contacts}}
        </p><!--联系人-->
        <p>
          <strong class="pr">{{'Supplier0108'| translate}}：</strong>{{supplierInfo?.mobile}}
        </p><!--手机号-->
        <p>
          <strong class="pr">{{'Supplier0109'| translate}}：</strong><!--固定电话-->
          <span *ngIf="supplierInfo.telephone">{{supplierInfo?.telephone}}</span>
          <a class="color-gray" [title]="'Extra0007'| translate" *ngIf="!supplierInfo.telephone"
             (click)="toModifyTheUnSetData()">{{'Extra0006'| translate}}</a><!--[未设置]-->
        </p>
        <p>
          <strong class="pr">{{'Supplier0110'| translate}}：</strong><!--网址-->
          <a *ngIf="supplierInfo.website" target="_blank" [title]="'Extra0008'| translate" [href]="supplierInfo?.website">{{supplierInfo?.website}}</a>
          <a class="color-gray" [title]="'Extra0008'| translate" *ngIf="!supplierInfo.website"
             (click)="toModifyTheUnSetData()">{{'Extra0006'|
            translate}}</a><!--[未设置]-->
        </p>
      </div>
      <div nz-col nzSm="12" nzXXl="10" [nzXs]="24">
        <p><strong class="pr">{{'Supplier0112'| translate}}：</strong>{{supplierInfo?.bank}}</p><!--开户行-->
        <p><strong class="pr">{{'Supplier0113'| translate}}：</strong>{{supplierInfo?.bankAccount}}</p><!--开户行账户-->
        <p>
          <strong class="pr">{{'Supplier0114'| translate}}：</strong><!--支付方式-->
          <!--<span [ngClass]="{'color-gray':!supplierInfo?.paymentTerm}">{{supplierInfo?.paymentTerm || 'Extra0006'| translate}}</span>-->
          <span *ngIf="supplierInfo.paymentTerm">{{supplierInfo?.paymentTerm}}</span>
          <a class="color-gray" [title]="'Extra0007'| translate" *ngIf="!supplierInfo.paymentTerm"
             (click)="toModifyTheUnSetData()">{{'Extra0006'| translate}}</a><!--[未设置]-->
        </p>
        <p>
          <strong class="pr">{{'Supplier0115'| translate}}：</strong><!--传真号-->
          <!--<span [ngClass]="{'color-gray':!supplierInfo?.fax}">{{supplierInfo?.fax || 'Extra0006'| translate}}</span>-->
          <span *ngIf="supplierInfo.fax">{{supplierInfo?.fax}}</span>
          <a class="color-gray" [title]="'Extra0007'| translate" *ngIf="!supplierInfo.fax"
             (click)="toModifyTheUnSetData()">{{'Extra0006'| translate}}</a><!--[未设置]-->
        </p>
        <p>
          <strong class="pr">{{'Supplier0116'| translate}}：</strong><!--邮编-->
          <!--<span [ngClass]="{'color-gray':!supplierInfo?.zipCode}">{{supplierInfo?.zipCode || 'Extra0006'| translate}}</span>-->
          <span *ngIf="supplierInfo.zipCode">{{supplierInfo?.zipCode}}</span>
          <a class="color-gray" [title]="'Extra0007'| translate" *ngIf="!supplierInfo.zipCode"
             (click)="toModifyTheUnSetData()">{{'Extra0006'| translate}}</a><!--[未设置]-->
        </p>
        <p>
          <strong class="pr">{{'Supplier0117'| translate}}：</strong><!--地址-->
          <!--<span [ngClass]="{'color-gray':!supplierInfo?.address}">{{supplierInfo?.address || 'Extra0006'| translate}}</span>-->
          <span *ngIf="supplierInfo.address">{{supplierInfo?.address}}</span>
          <a class="color-gray" [title]="'Extra0007'| translate" *ngIf="!supplierInfo.address"
             (click)="toModifyTheUnSetData()">{{'Extra0006'| translate}}</a><!--[未设置]-->
        </p>
        <p>
          <strong class="pr">{{'Supplier0118'| translate}}：</strong><!--英文地址-->
          <!--<span [ngClass]="{'color-gray':!supplierInfo?.englishAddress}">{{supplierInfo?.englishAddress || 'Extra0006'| translate}}</span>-->
          <span *ngIf="supplierInfo.englishAddress">{{supplierInfo?.englishAddress}}</span>
          <a class="color-gray" [title]="'Extra0007'| translate" *ngIf="!supplierInfo.englishAddress"
             (click)="toModifyTheUnSetData()">{{'Extra0006'| translate}}</a><!--[未设置]-->
        </p>
        <p>
          <strong class="pr">{{'Supplier0119'| translate}}：</strong>
          <!--<span [ngClass]="{'color-gray':!supplierInfo?.summary}">{{supplierInfo?.summary || 'Extra0006'| translate}}</span>-->
          <span *ngIf="supplierInfo.summary">{{supplierInfo?.summary}}</span>
          <a class="color-gray" [title]="'Extra0007'| translate" *ngIf="!supplierInfo.summary"
             (click)="toModifyTheUnSetData()">{{'Extra0006'| translate}}</a><!--[未设置]-->
        </p>
        <p><strong class="pr">{{'Extra0004'| translate}}：</strong>{{supplierInfo?.createTime}}</p>
        <p><strong class="pr">{{'Extra0005'| translate}}：</strong>{{supplierInfo?.updateTime}}</p>
      </div>

    </div>
  </section>
</div>


