<app-back-btn></app-back-btn>
<div class="page-title">
  <span class="title">${notes}详情</span>
</div>

<!--Extra0006:[未设置]-->
<!--供应商信息-->
<div class="panel panel-body">
  <!--供应商信息-->
  <section class="mb-20">
    <h3 class="subtitle">${notes}详细信息</h3>
    <div nz-row class="p-15">

      <div nz-col nzSm="12" nzXXl="10" [nzXs]="24">
      <#list fields as field>
      <#if field.field!='id' && field.field!='code'>
        <p>
          <strong class="pr"><#if (field.notes?? && field.notes?length>4)>${field.notes?substring(0,4)}<#else> ${field.notes}</#if>：</strong><!--${field.notes}-->
          <span *ngIf="${classNameLower}Info.${field.field}">{{${classNameLower}Info.${field.field}}}</span>
          <a class="color-gray" [title]="'Extra0007'| translate" *ngIf="!${classNameLower}Info.${field.field}"
             (click)="toModifyTheUnSetData()">[未设置]</a><!--[未设置]-->
        </p>

      </#if>
      </#list>
      </div>

    </div>
  </section>
</div>


