<app-back-btn></app-back-btn>
<div class="page-title">
  <span class="title">{{'Supplier0100'| translate}}</span>
</div>

<!--Extra0006:[未设置]-->
<!--供应商信息-->
<div class="panel panel-body">
  <!--供应商信息-->
  <section class="mb-20">
    <h3 class="subtitle">{{'Supplier0101'| translate}}</h3>
    <div nz-row class="p-15">
      <app-supplier-info [supplierInfo]="supplierInfo"></app-supplier-info>
    </div>
  </section>

  <!--供应材料信息-->
 <!-- <section *ngIf="supplierInfo?.materials?.length > 0">
    <h3 class="subtitle">{{'Supplier0119'| translate}}</h3>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzXXl]="12" [nzXl]="24" class="mb-15" *ngFor="let material of supplierInfo.materials">
        <nz-card [nzTitle]="('Supplier0123'| translate)+'：'+material.name" [nzHoverable]="true">
          <app-material-info [material]="material"></app-material-info>
        </nz-card>
      </div>
    </div>
  </section>-->
</div>


