<nz-layout class="layout">
  <!--顶部 start-->
  <nz-header class="header">
    <div class="logo fl">
      <img src="{{app.logo}}">
    </div>
    <ul class="fr mr">
      <!--语言设置-->
      <li>
        <nz-dropdown [nzTrigger]="'hover'" [nzPlacement]="'bottomCenter'" class="inline-block">
          <div class="cursor color-white" nz-dropdown><span class="font14">{{'Layout0002'| translate}}</span>
            <i nz-icon type="down" theme="outline" class="font12"></i>
          </div>
          <ul nz-menu class="languages">
            <li nz-menu-item *ngFor="let lang of translate.getLangs()" (click)="changeLang(lang)">{{lang | translate}}</li>
          </ul>
        </nz-dropdown>
      </li>
    </ul>
  </nz-header>
  <!--顶部 end-->

  <!--业务中心 start-->
  <nz-content>
    <!--路由嵌套-业务处理区域 start-->
    <router-outlet></router-outlet>
    <!--路由嵌套-业务处理区域 end-->
  </nz-content>

  <!--底部 copyright start-->
  <nz-footer class="text-center footer">
    {{app.copyright}}
  </nz-footer>
  <!--底部 copyright end-->
</nz-layout>
